$icomoon-font-path: "fonts" !default;

$icon-activites: "\e900";
$icon-actualites: "\e901";
$icon-b_cadeau: "\e902";
$icon-cabane_arbre: "\e903";
$icon-chouette: "\e904";
$icon-contact: "\e905";
$icon-fillette: "\e906";
$icon-groupe: "\e907";
$icon-regle-path1: "\e908";
$icon-regle-path2: "\e909";
$icon-regle-path3: "\e90a";
$icon-regle-path4: "\e90b";
$icon-regle-path5: "\e90c";
$icon-regle-path6: "\e90d";
$icon-regle-path7: "\e90e";
$icon-regle-path8: "\e90f";
$icon-regle-path9: "\e910";
$icon-regle-path10: "\e911";
$icon-regle-path11: "\e912";
$icon-regle-path12: "\e913";
$icon-regle-path13: "\e914";
$icon-regle-path14: "\e915";
$icon-regle-path15: "\e916";
$icon-regle-path16: "\e917";
$icon-regle-path17: "\e918";
$icon-regle-path18: "\e919";
$icon-regle-path19: "\e91a";
$icon-regle-path20: "\e91b";
$icon-regle-path21: "\e91c";
$icon-regle-path22: "\e91d";
$icon-regle-path23: "\e91e";
$icon-regle-path24: "\e91f";
$icon-regle-path25: "\e920";
$icon-regle-path26: "\e921";
$icon-regle-path27: "\e922";
$icon-regle-path28: "\e923";
$icon-regle-path29: "\e924";
$icon-regle-path30: "\e925";
$icon-regle-path31: "\e926";
$icon-regle-path32: "\e927";
$icon-regle-path33: "\e928";
$icon-regle-path34: "\e929";
$icon-regle-path35: "\e92a";
$icon-regle-path36: "\e92b";
$icon-regle-path37: "\e92c";
$icon-regle-path38: "\e92d";
$icon-regle-path39: "\e92e";
$icon-regle-path40: "\e92f";
$icon-regle-path41: "\e930";
$icon-regle-path42: "\e931";
$icon-regle-path43: "\e932";
$icon-regle-path44: "\e933";
$icon-regle-path45: "\e934";
$icon-regle-path46: "\e935";
$icon-regle-path47: "\e936";
$icon-regle-path48: "\e937";
$icon-regle-path49: "\e938";
$icon-regle-path50: "\e939";
$icon-regle-path51: "\e93a";
$icon-regle-path52: "\e93b";
$icon-regle-path53: "\e93c";
$icon-regle-path54: "\e93d";
$icon-regle-path55: "\e93e";
$icon-regle-path56: "\e93f";
$icon-regle-path57: "\e940";
$icon-regle-path58: "\e941";
$icon-regle-path59: "\e942";
$icon-regle-path60: "\e943";
$icon-regle-path61: "\e944";
$icon-regle-path62: "\e945";
$icon-regle-path63: "\e946";
$icon-regle-path64: "\e947";
$icon-regle-path65: "\e948";
$icon-regle-path66: "\e949";
$icon-regle-path67: "\e94a";
$icon-regle-path68: "\e94b";
$icon-regle-path69: "\e94c";
$icon-regle-path70: "\e94d";
$icon-regle-path71: "\e94e";
$icon-regle-path72: "\e94f";
$icon-regle-path73: "\e950";
$icon-regle-path74: "\e951";
$icon-regle-path75: "\e952";
$icon-regle-path76: "\e953";
$icon-regle-path77: "\e954";
$icon-regle-path78: "\e955";
$icon-regle-path79: "\e956";
$icon-regle-path80: "\e957";
$icon-regle-path81: "\e958";
$icon-regle-path82: "\e959";
$icon-regle-path83: "\e95a";
$icon-regle-path84: "\e95b";
$icon-reservation: "\e95c";
$icon-restauration: "\e95d";
$icon-sejour_insolite: "\e95e";
$icon-tarifs: "\e95f";
$icon-terrasse: "\e960";

