{% extends "_base.template" %}
{% set page = "Accueil" %}
{% block content %}
<section class="container-fluid">
  <div>
    <h2>A Propos</h2>
    <h1>
      <span class="prenom">Cristina</span>
      <span class="nom">Asensio</span><span>.</span>
    </h1>
    <h3>Designer Graphique &#38; Web-designer Intégrateur</h3>
    <p>Passionnée depuis toujours par le <span class="m-avant">design</span>, le <span class="m-avant">code</span>, le <span class="m-avant">gaming</span> et les <span class="m-avant">nouvelles technologies</span>, je me suis orienté dans le secteur de la communication et du design.</p>

    <p>Diplômée d’une école de <span class="m-avant">Graphisme</span> et de <span class="m-avant">Webdesign</span>,
    j’ai acquis les compétences techniques et informatiques nécessaires pour réaliser des <span class="m-avant">supports</span> de communication <span class="m-avant">print</span> et <span class="m-avant">web</span>.</p>

    <p>Faisant partie de nombreuses communautés liées à l’<span class="m-avant">e-sport</span> et au <span class="m-avant">gaming</span> durant de nombreuses années, j’ai très souvent participé à l’<span class="m-avant">identité visuelle</span> de celles-ci, leurs mise en avant m'ont permis de découvrir des nouvelles facettes des différents métiers tels que (designer graphique, web-designer intégrateur ainsi que community manager) et confirmer ma passion.</p>
    <p>J’aime <span class="m-avant">partager</span> mes <span class="m-avant">idées</span> et trouver des concepts et des <span class="m-avant">solutions graphiques</span> pour <span class="m-avant">améliorer</span> l’image et <span class="m-avant">séduire</span> mes futurs clients.</p>

    <a href="/contact" class="btn">
      <button type="button" class="btn-primary btn-lg">Engagez-moi !</button>
    </a>
    <a href="/cv" class="btn">
      <button type="button" class="btn-secondary btn-lg">Curriculum</button>
    </a>

    <div>
      <span class="fa fa-quote-left" aria-hidden="true"></span>
      <blockquote class="blockquote blockquote-reverse">
        <p class="mb-0">The idea of waiting for something makes it more fascinating</p>
        <div class="blockquote-footer">Andy Warhol</div>
      </blockquote>
    </div>
  </div>
</section>
{% endblock %}
